<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You Do Not Have Permission To Access This Resource</h6>
    <img src="~/images/no-access.png" style="height:500px; width:500px;" />
</div>