<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
    footer {
        background-color: cornflowerblue;
    }
</style>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">About Us</h5>
                <p>
                    We are a group of real estate agencies collaborated together to provide you world class facilities
                    of properties in India. Established since 2007 we have made our customers proud of services offered within the
                    time range and thier budget.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-home"></span> 67th street road, Mumbai, Maharashtra
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-envelope"></span> yourEstateService@@gmail.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-phone"></span> +91 675 368 5670
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-print"></span> + 01 234 567 89
                        </p>
                    </li>
                </ul>

            </div>


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        &copy; 2021 - EstateServiceApp - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->